static/xsd/DIAN_UBL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dian.gov.co/contratos/facturaelectronica/v1" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" xmlns:sts="http://www.dian.gov.co/contratos/facturaelectronica/v1/Structures" xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://www.dian.gov.co/contratos/facturaelectronica/v1" elementFormDefault="qualified">
	<import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="http://www.dian.gov.co/micrositios/fac_electronica/documentos/common/UBL-CommonAggregateComponents-2.0.xsd"/>
	<import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="http://www.dian.gov.co/micrositios/fac_electronica/documentos/common/UBL-CommonBasicComponents-2.0.xsd"/>
	<import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" schemaLocation="http://www.dian.gov.co/micrositios/fac_electronica/documentos/common/UBL-CommonExtensionComponents-2.0.xsd"/>
	<import namespace="http://www.dian.gov.co/contratos/facturaelectronica/v1/Structures" schemaLocation="DIAN_UBL_Structures.xsd"/>
	<complexType name="InvoiceType">
		<sequence>
			<element ref="ext:UBLExtensions" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Debe usar como mínimo extensiones definidas por
						DIAN para toda factura electrónica
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:UBLVersionID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Debe marcar UBL 2.0 (versión base de UBL usada
						para crear este perfil)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CustomizationID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2017-oct-20: Precisando la descripción del Invoice que se utilizó para conformar el XML; la precisión se hace a través de los atributos
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ProfileID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.5 - Versión del Formato: Indicar versión del
						documento. Debe usarse "DIAN 1.0"
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.1 Número de documento: Número de factura o factura cambiaria. 
						Incluye prefijo + consecutivo de factura. 
						No se permiten caracteres adicionales como espacios o guiones.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:UUID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.10 - CUFE: Obligatorio si es factura nacional.
						Codigo Unico de Facturacion Electronica. Campo
						que verifica la integridad de la información
						recibida, es un campo generado por el sistema
						Numeración de facturación, está pendiente
						definir su contenido. Esta Encriptado. La
						factura electrónica tiene una firma electrónica
						basada en firma digital según la política de
						firma propuesta. La integridad de la factura ya
						viene asegurada por la firma digital, no es
						necesaria ninguna medida más para asegurar que
						ningún campo ha sido alterado
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.7 Fecha de emisión: Fecha de emisión de la
						factura a efectos fiscales
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:IssueTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.7 (Hora) de emisión
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:InvoiceTypeCode" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2017-oct-20: Tipo de Factura, código: facturas de venta, y transcripciones; tipo = 1 para factura de venta; tipo = 2 para factura de venta de bienes o servicios exportados; tipo = 3 para la transcripción de datos al formato UBL-Invoice-DIAN desde la factura de venta expedida por talonario en ocasión de una contingencia del sistema de factura electrónica del OFE (i.e. obligado a facturar electrónicamente). Véase el Artículo 8 de la Resolución 0055-2016 que modificó el Numeral 1 del Artículo 11 de la Resolución 0019-2016. - Se había anunciado de manera informal que sería utilizado en tipo = 4 para informar a la autoridad TAC (i.e. tributaria, aduanera y cambiaria), por transcripción de datos, las facturas de los bienes y servicios adquiridos en el exterior e importados al territorio aduanero nacional. Este tipo de factura de importación no entrará por ahora en operación.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Note" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						1.11 Información adicional: Texto libre,
						relativo al documento
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:DocumentCurrencyCode" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.10 Divisa de la Factura: Divisa consolidada
						aplicable a toda la factura
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCostCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCost" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LineCountNumeric" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:InvoicePeriod" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.8 Periodo de Facturación: Intervalo de fechas
						a las que referencia la factura
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OrderReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (orden): Referencia a
						un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:BillingReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (orden): Referencia a
						un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DespatchDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (despacho):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ReceiptDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (recepción):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OriginatorDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (origen): Referencia
						a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ContractDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (contrato):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento: Referencia a un
						documento
					</documentation>
				</annotation>
			</element>
			<element ref="tns:AccountingSupplierParty" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2.1 - Obligado a Facturar:
					</documentation>
				</annotation>
			</element>
			<element ref="tns:AccountingCustomerParty" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2.2 - Adquirente:
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PayeeParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						11.5 - Receptor del Pago: Participante, Entidad,
						Departamento, Unidad, destinatario de la
						factura. Suele coincidir con el obligado a
						facturar Ver composición en la estructura común
					</documentation>
				</annotation>
			</element>
			<element ref="cac:BuyerCustomerParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:SellerSupplierParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxRepresentativeParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Delivery" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						10 - 2.1.10 Datos Términos de Entrega:
						Agrupación de campos relativos al transporte o
						entrega de los bienes. Se presenta nuevos
						participantes relativos a la entrega, como el
						transportista
					</documentation>
				</annotation>
			</element>
			<element ref="tns:DeliveryTerms" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2.2.10 - Medios de Transporte
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentMeans" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						12.1 - Datos del Pago: Información relativa al
						pago de la factura.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentTerms" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:PrepaidPayment" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						6.1.1 - Anticipo: Elemento raíz compuesto
						utilizado para informar de un anticipo.
					</documentation>
				</annotation>
			</element>
			<element ref="tns:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						5.1.1 Cargo - Elemento raíz compuesto utilizado
						para informar de un cargo. / 4.1.1 Descuento:
						Elemento raíz compuesto utilizado para informar
						de un descuento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentExchangeRate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.11 Tasa Cambio Peso Colombiano: Tasa de cambio
						de moneda extranjera a peso colombiano (COP).
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentAlternativeExchangeRate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:TaxTotal" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						7.1.1 - Impuesto Retenido: Elemento raíz
						compuesto utilizado para informar de un impuesto
						retenido. / 8.1.1 - Impuesto: Elemento raíz
						compuesto utilizado para informar de un
						impuesto.
					</documentation>
				</annotation>
			</element>
			<element ref="tns:LegalMonetaryTotal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9 - Datos Importes Totales: Agrupación de campos
						relativos a los importes totales aplicables a la
						factura. Estos importes son calculados teniendo
						en cuenta las líneas de factura y elementos a
						nivel de factura, como descuentos, cargos,
						impuestos, etc
					</documentation>
				</annotation>
			</element>
			<element ref="tns:InvoiceLine" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						13.1.1 - Línea de Factura: Elemento que agrupa
						todos los campos de una línea de factura
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CreditNoteType">
		<sequence>
			<element ref="ext:UBLExtensions" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Debe usar como mínimo extensiones definidas por
						DIAN para toda factura electrónica
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:UBLVersionID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Debe marcar UBL 2.0 (versión base de UBL usada
						para crear este perfil)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CustomizationID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ProfileID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.5 - Versión del Formato: Indicar versión del
						documento. Debe usarse "DIAN 1.0"
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.1 Número de documento: Número de factura o
						factura cambiaria.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:UUID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.10 - CUFE: Obligatorio si es factura nacional.
						Codigo Unico de Facturacion Electronica. Campo
						que verifica la integridad de la información
						recibida, es un campo generado por el sistema
						Numeración de facturación, está pendiente
						definir su contenido. Esta Encriptado. La
						factura electrónica tiene una firma electrónica
						basada en firma digital según la política de
						firma propuesta. La integridad de la factura ya
						viene asegurada por la firma digital, no es
						necesaria ninguna medida más para asegurar que
						ningún campo ha sido alterado
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.7 Fecha de emisión: Fecha de emisión de la
						factura a efectos fiscales
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:IssueTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.7 (Hora) de emisión
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Note" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						1.11 Información adicional: Texto libre,
						relativo al documento
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:DocumentCurrencyCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.10 Divisa de la Factura: Divisa consolidada
						aplicable a toda la factura
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCostCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCost" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LineCountNumeric" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:InvoicePeriod" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.8 Periodo de Facturación: Intervalo de fechas
						a las que referencia la factura
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DiscrepancyResponse" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OrderReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (orden): Referencia a
						un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:BillingReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (orden): Referencia a
						un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DespatchDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (despacho):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ReceiptDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (recepción):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ContractDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (contrato):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento: Referencia a un
						documento
					</documentation>
				</annotation>
			</element>
			<element ref="tns:AccountingSupplierParty" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2.1 - Obligado a Facturar:
					</documentation>
				</annotation>
			</element>
			<element ref="tns:AccountingCustomerParty" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2.2 - Adquirente:
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PayeeParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						11.5 - Receptor del Pago: Participante, Entidad,
						Departamento, Unidad, destinatario de la
						factura. Suele coincidir con el obligado a
						facturar Ver composición en la estructura común
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxRepresentativeParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:TaxTotal" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						7.1.1 - Impuesto Retenido: Elemento raíz
						compuesto utilizado para informar de un impuesto
						retenido. / 8.1.1 - Impuesto: Elemento raíz
						compuesto utilizado para informar de un
						impuesto.
					</documentation>
				</annotation>
			</element>
			<element ref="tns:LegalMonetaryTotal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9 - Datos Importes Totales: Agrupación de campos
						relativos a los importes totales aplicables a la
						factura. Estos importes son calculados teniendo
						en cuenta las líneas de factura y elementos a
						nivel de factura, como descuentos, cargos,
						impuestos, etc
					</documentation>
				</annotation>
			</element>
			<element ref="cac:CreditNoteLine" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						13.1.1 - Línea de Factura (nota crédito):
						Elemento que agrupa todos los campos de una
						línea de factura
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DebitNoteType">
		<sequence>
			<element ref="ext:UBLExtensions" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Debe usar como mínimo extensiones definidas por
						DIAN para toda factura electrónica
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:UBLVersionID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Debe marcar UBL 2.0 (versión base de UBL usada
						para crear este perfil)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CustomizationID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ProfileID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.5 - Versión del Formato: Indicar versión del
						documento. Debe usarse "DIAN 1.0"
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.1 Número de documento: Número de factura o
						factura cambiaria.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:UUID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.10 - CUFE: Obligatorio si es factura nacional.
						Codigo Unico de Facturacion Electronica. Campo
						que verifica la integridad de la información
						recibida, es un campo generado por el sistema
						Numeración de facturación, está pendiente
						definir su contenido. Esta Encriptado. La
						factura electrónica tiene una firma electrónica
						basada en firma digital según la política de
						firma propuesta. La integridad de la factura ya
						viene asegurada por la firma digital, no es
						necesaria ninguna medida más para asegurar que
						ningún campo ha sido alterado
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.7 Fecha de emisión: Fecha de emisión de la
						factura a efectos fiscales
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:IssueTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.7 (Hora) de emisión
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Note" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						1.11 Información adicional: Texto libre,
						relativo al documento
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:DocumentCurrencyCode" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.10 Divisa de la Factura: Divisa consolidada
						aplicable a toda la factura
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCostCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCost" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LineCountNumeric" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:InvoicePeriod" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						1.8 Periodo de Facturación: Intervalo de fechas
						a las que referencia la factura
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DiscrepancyResponse" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OrderReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (orden): Referencia a
						un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:BillingReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (orden): Referencia a
						un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DespatchDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (despacho):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ReceiptDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (recepción):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ContractDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento (contrato):
						Referencia a un documento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AdditionalDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						3.1.1 Referencia Documento: Referencia a un
						documento
					</documentation>
				</annotation>
			</element>
			<element ref="tns:AccountingSupplierParty" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2.1 - Obligado a Facturar:
					</documentation>
				</annotation>
			</element>
			<element ref="tns:AccountingCustomerParty" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						2.2 - Adquirente:
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PayeeParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						11.5 - Receptor del Pago: Participante, Entidad,
						Departamento, Unidad, destinatario de la
						factura. Suele coincidir con el obligado a
						facturar Ver composición en la estructura común
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxRepresentativeParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:PrepaidPayment" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						6.1.1 - Anticipo: Elemento raíz compuesto
						utilizado para informar de un anticipo.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentExchangeRate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.11 Tasa Cambio Peso Colombiano: Tasa de cambio
						de moneda extranjera a peso colombiano (COP).
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentAlternativeExchangeRate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:TaxTotal" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						7.1.1 - Impuesto Retenido: Elemento raíz
						compuesto utilizado para informar de un impuesto
						retenido. / 8.1.1 - Impuesto: Elemento raíz
						compuesto utilizado para informar de un
						impuesto.
					</documentation>
				</annotation>
			</element>
			<element ref="tns:LegalMonetaryTotal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9 - Datos Importes Totales: Agrupación de campos
						relativos a los importes totales aplicables a la
						factura. Estos importes son calculados teniendo
						en cuenta las líneas de factura y elementos a
						nivel de factura, como descuentos, cargos,
						impuestos, etc
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DebitNoteLine" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						13.1.1 - Línea de Factura (debit): Elemento que
						agrupa todos los campos de una línea de factura
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SupplierPartyType">
		<sequence>
			<element ref="cbc:CustomerAssignedAccountID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AdditionalAccountID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Tipo: Debe referenciar a una lista de códigos con los siguientes valores:
•	persona natural
•	jurídica
•	gran contribuyente
•	otros
						
					</documentation>
					<documentation>2017-ago-10: los valores válidos son "1" y "2" para el concepto de "tipo de organización jurídica" que utiliza el Código de Comercio: "persona jurídica" y "persona natural o física"</documentation>
				</annotation>
			</element>
			<element ref="cbc:DataSendingCapability" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Party" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Estructura requerida para describir al obligado
						a facturar
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DespatchContact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						17 - Personas de Contacto: Personas de contacto
						asociadas al participante.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AccountingContact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						17 - Personas de Contacto: Personas de contacto
						asociadas al participante.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:SellerContact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						17 - Personas de Contacto: Personas de contacto
						asociadas al participante.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="CustomerPartyType">
		<sequence>
			<element ref="cbc:CustomerAssignedAccountID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:SupplierAssignedAccountID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AdditionalAccountID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Tipo: Debe referenciar a una lista de códigos con los siguientes valores:
•	persona natural
•	jurídica
•	gran contribuyente
•	otros
					</documentation>
					<documentation>
						2017-ago-10: los valores válidos son "1" y "2" para el concepto de "tipo de organización jurídica"
						que utiliza el Código de Comercio: "persona jurídica" y "persona natural o física"
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Party" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Estructura requerida para describir al
						adquiriente
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DeliveryContact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						17 - Personas de Contacto: Personas de contacto
						asociadas al participante.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AccountingContact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						17 - Personas de Contacto: Personas de contacto
						asociadas al participante.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:BuyerContact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						17 - Personas de Contacto: Personas de contacto
						asociadas al participante.
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PartyType">
		<sequence>
			<element ref="cbc:MarkCareIndicator" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						<documentation xml:lang="es">
							Opcional no usado por la DIAN, las partes
							pueden definir un significado o simplemente
							omitirlo
						</documentation>
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:MarkAttentionIndicator" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:WebsiteURI" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LogoReferenceID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:EndpointID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PartyIdentification" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>
						2.2.3.1 - Identificador fiscal: Número completo
						de Identificación Tributaria o similar. En
						Colombia, el NIT
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PartyName" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						2.1.10 / 2.2.10 - Nombre Comercial: Nombre
						comercial, por ejemplo, si es una persona física
						el nombre de su establecimiento, debe incluir la
						referencia completa
					</documentation>
				</annotation>
			</element>
			<element ref="cac:Language" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PostalAddress" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:PhysicalLocation" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						2.1.16 / 2.2.16 - Dirección:
					</documentation>
				</annotation>
			</element>
			<element ref="tns:PartyTaxScheme" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Estructura necesaria para describir el régimen
					</documentation>
				</annotation>
			</element>
			<element ref="tns:PartyLegalEntity" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Estructura necesaria para describir la
						información legal de la empresa
					</documentation>
				</annotation>
			</element>
			<element ref="cac:Contact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						17 - Personas de Contacto: Personas de contacto
						asociadas al participante.
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Person" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						Estructura necesaria cuando el participante es
						una persona natural o física
					</documentation>
					<documentation>2017-ago-10: cambió la cardinalidad del atributo @maxOccurs de "1" a "unbounded"</documentation>
				</annotation>
			</element>
			<element ref="cac:AgentParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="LocationType">
		<sequence>
			<element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.1 - Identificador único DUNS:
						Identificador único de una dirección basado en
						DUNS (Duns &amp; Bradstreet).
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Description" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.3 - Dirección: Texto Libre para establecer
						una dirección. No se recomienda detallar en
						otros campos más detallados conceptos como
						número de edificio, letra, escalera, etc. Mejor
						en una línea libre porque la diversidad de datos
						es muy grande.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Conditions" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CountrySubentity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.8 - Sub-División del País: Nombre de la
						Subdivisión territorial de un país Estado,
						Departamento
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CountrySubentityCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.8 - Sub-División del País (código): Nombre
						de la Subdivisión territorial de un país Estado,
						Departamento
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ValidityPeriod" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Address" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Estructura requerida para adicionar detalles a
						la dirección
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AddressType">
		<sequence>
			<element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AddressTypeCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AddressFormatCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Postbox" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.2 - Identificador postal: Identificador
						Postal, Apartado postal o aéreo, PO Box
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Floor" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Room" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:StreetName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AdditionalStreetName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:BlockName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:BuildingName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:BuildingNumber" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:InhouseMail" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Department" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.8 - Sub-División del País: Nombre de la
						Subdivisión territorial de un país Estado,
						Departamento.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:MarkAttention" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:MarkCare" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PlotIdentification" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CitySubdivisionName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.11 - Sub-División Municipio: Subdivisión
						de una ciudad, municipio, etc., por ejemplo un
						distrito administrativo o similar.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CityName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.10 - Municipio: Nombre de la ciudad,
						municipio, etc.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PostalZone" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.12 - Código Postal: Código Postal
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CountrySubentity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						6.2.2.8 - Sub-División del País: Nombre de la
						Subdivisión territorial de un país Estado,
						Departamento
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CountrySubentityCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						6.2.2.8 - Sub-División del País (código): Nombre
						de la Subdivisión territorial de un país Estado,
						Departamento
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Region" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:District" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						<documentation xml:lang="es">
							Opcional no usado por la DIAN, las partes
							pueden definir un significado o simplemente
							omitirlo
						</documentation>
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TimezoneOffset" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AddressLine" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						2.2.6.3 - Dirección: Texto Libre para establecer
						una dirección. No se recomienda detallar en
						otros campos más detallados conceptos como
						número de edificio, letra, escalera, etc. Mejor
						en una línea libre porque la diversidad de datos
						es muy grande. / 2.2.6.4 - Dirección 2: Texto
						Libre para establecer una dirección (extensión)
						/ 2.2.6.5 - Dirección 3: Texto Libre para
						establecer una dirección (extensión)
					</documentation>
				</annotation>
			</element>
			<element ref="cac:Country" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.6.6 - Código País: Código del País relativo
						a la dirección, se recomienda establecer como
						Obligatorio si es distinto del nacional
						(Colombia). Utilizar una lista de códigos
						externa y estandarizada, como la iso ISO 3166-1
						alfa2 o alfa3. / 2.2.6.7 - Nombre del País:
						Nombre del país relativo a la dirección.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:LocationCoordinate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PartyTaxSchemeType">
		<sequence>
			<element ref="cbc:RegistrationName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CompanyID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TaxLevelCode" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.3.8 - Régimen: Régimen al que pertenece.
						Debe referenciar a una lista de códigos con los
						valores correspondientes, por ejemplo: • Común •
						Simplificado • No aplica
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ExemptionReasonCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ExemptionReason" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:RegistrationAddress" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxScheme" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						No usado por la DIAN, las partes pueden definir
						un significado o simplemente poner un elemento
						vacío ya que es obligatorio en UBL
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PartyLegalEntityType">
		<sequence>
			<element ref="cbc:RegistrationName" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.3.4 - Razón Social: Obligatorio en caso de
						ser una persona jurídica. Razón social de la
						empresa
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CompanyID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:RegistrationAddress" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:CorporateRegistrationScheme" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PersonType">
		<sequence>
			<element ref="cbc:FirstName" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.3.5 - Nombre: Obligatorio si es una persona
						natural. Nombre completo del participante
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:FamilyName" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.3.6 - Primer Apellido: Obligatorio si es una
						persona natural. Primer apellido completo del
						participante, en caso de ser persona natural y
						2.2.3.7 - Segundo Apellido: Segundo apellido
						completo del participante, en caso de ser
						persona natural
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Title" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:MiddleName" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:NameSuffix" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:JobTitle" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:OrganizationDepartment" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AllowanceChargeType">
		<sequence>
			<element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ChargeIndicator" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Indica que el elemento es un Cargo (5.1.1) y no
						un descuento (4.1.1)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AllowanceChargeReasonCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						4.1.1.1 / 5.1.1.1 - Razón (código): Obligatorio
						si es factura internacional. Texto libre para
						informar de la razón del descuento. Se puede
						sustituir por una referencia a una lista de
						códigos
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AllowanceChargeReason" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						4.1.1.1 / 5.1.1.1 - Razón (texto): Obligatorio
						si es factura internacional. Texto libre para
						informar de la razón del descuento. Se puede
						sustituir por una referencia a una lista de
						códigos
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:MultiplierFactorNumeric" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						4.1.1.2 / 5.1.1.2 - Porcentaje: Porcentaje a
						aplicar.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PrepaidIndicator" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:SequenceNumeric" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Amount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						4.1.1.3 / 5.1.1.3 - Valor Descuento: Importe
						total a descontar.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:BaseAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCostCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCost" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxCategory" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxTotal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentMeans" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						4.1.1.4 / 5.1.1.4 - Información adicional: Texto
						libre para la añadir información adicional
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PaymentType">
		<sequence>
			<element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PaidAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						6.1.1.2 - Importe Anticipo: Importe del anticipo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ReceivedDate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PaidDate" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						6.1.1.1 - Fecha: Fecha en formato reconocido del
						anticipo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PaidTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						6.1.1.1 - Fecha (hora): Fecha en formato
						reconocido del anticipo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:InstructionID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TaxTotalType">
		<sequence>
			<element ref="cbc:TaxAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						7.1.1.4 - Importe Impuesto: Importe del impuesto
						retenido
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:RoundingAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TaxEvidenceIndicator" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Indica que el elemento es un Impuesto retenido
						(7.1.1) y no un impuesto (8.1.1)
					</documentation>
				</annotation>
			</element>
			<element ref="tns:TaxSubtotal" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Estructura requerida por UBL para representar la
						información requerida por la factura electrónica
						DIAN
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TaxSubtotalType">
		<sequence>
			<element ref="cbc:TaxableAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						7.1.1.1 / 8.1.1.1 - Base Imponible: Base
						Imponible sobre la que se calcula la retención
						de impuesto
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TaxAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						7.1.1.4 / 8.1.1.4 - Importe Impuesto (detalle):
						Importe del impuesto retenido
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CalculationSequenceNumeric" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TransactionCurrencyTaxAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Percent" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						7.1.1.3 / 8.1.1.3 - Porcentaje: Porcentaje a
						aplicar
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:BaseUnitMeasure" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PerUnitAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TierRange" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TierRatePercent" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxCategory" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						7.1.1.2 - Tipo: Tipo o clase impuesto. Concepto
						fiscal por el que se tributa. Debería si un
						campo que referencia a una lista de códigos. En
						la lista deberían aparecer los impuestos
						estatales o nacionales
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="MonetaryTotalType">
		<sequence>
			<element ref="cbc:LineExtensionAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.4 - Total Importe bruto antes de impuestos:
						Total importe bruto, suma de los importes brutos
						de las líneas de la factura.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TaxExclusiveAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.5 - Total Base Imponible (Importe
						Bruto+Cargos-Descuentos): Base imponible para el
						cálculo de los impuestos.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TaxInclusiveAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AllowanceTotalAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.1 - Total de Descuentos: Suma de todos los
						descuentos presentes
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ChargeTotalAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.2 - Total de Cargos: Suma de todos los cargos
						presentes
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PrepaidAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.3 - Total de Anticipos: Suma de todos los
						anticipos presentes
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PayableRoundingAmount" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PayableAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						9.8 - Total de Factura: Total importe bruto +
						Total Impuestos-Total Impuesto Retenidos
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DeliveryType">
		<sequence>
			<element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Quantity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:MinimumQuantity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:MaximumQuantity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ActualDeliveryDate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						10.1 - Fecha/Hora de Entrega (fecha)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ActualDeliveryTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						10.1 - Fecha/Hora de Entrega (hora)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LatestDeliveryDate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LatestDeliveryTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TrackingID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.10.1 - Identificación del Transporte:
						Matrícula del camión, número del vagón, nombre
						del barco….
					</documentation>
				</annotation>
			</element>
			<element ref="tns:DeliveryAddress" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:DeliveryLocation" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						10.8 - Consignador: Ver composición en la
						estructura común Información de un participante
						secundario (REF-PART-SEC) / 10.9 -
						Consignatario: Ver composición en la estructura
						común Información de un participante secundario
						(REF-PART-SEC)
					</documentation>
				</annotation>
			</element>
			<element ref="cac:RequestedDeliveryPeriod" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PromisedDeliveryPeriod" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:EstimatedDeliveryPeriod" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:DeliveryParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						10.7 - Transportista
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Despatch" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Estructura requerida para la información del
						despacho
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DespatchType">
		<sequence>
			<element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:RequestedDespatchDate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:RequestedDespatchTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:EstimatedDespatchDate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:EstimatedDespatchTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ActualDespatchDate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						10.3 - Fecha/Hora de Expedición o despacho
						(fecha)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ActualDespatchTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						10.3 - Fecha/Hora de Expedición o despacho
						(hora)
					</documentation>
				</annotation>
			</element>
			<element ref="tns:DespatchAddress" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						10.6 - Origen de la expedición o Despacho (SHIP
						FROM party)
					</documentation>
				</annotation>
			</element>
			<element ref="tns:DespatchParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>10.8 - Consignador</documentation>
				</annotation>
			</element>
			<element ref="cac:Contact" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DeliveryTermsType">
		<sequence>
			<element ref="cbc:ID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:SpecialTerms" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						Método de pago de costes de transporte: Se
						utilizar para indicar cómo se pagan los costes
						del transporte (por ejemplo, Portes Debidos,
						Portes Pagados)

						Puede ser un texto libre que entiendan el
						comprador y vendedor o codificarlo en una lista,
						por ejemplo
						http://www.unece.org/trade/untdid/d01b/tred/tred4215.htm
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LossRiskResponsibilityCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						2.2.10.2 - Condiciones de Entrega: Obligatorio
						cuando sea una factura internacional….Se
						recomienda utilizar los INCOTERMS (International
						Commercial Terms), utilizando la codificación
						estándar de 3 letras, por ejemplo…. CIF = Coste,
						seguro, flete en el destino indicado CIP =
						Flete, porte, seguro hasta destino CPT = Flete,
						porte pagado hasta destino DAF = Entrega en la
						frontera - lugar indicado FCA = Franco en el
						transporte - Punto indicado EXW = En la fábrica

						Esta campo debería pertenecer a una lista de
						códigos. Se aconseja utilizar los incoterms
						2010,
						http://www.iccwbo.org/products-and-services/trade-facilitation/incoterms-2010/the-incoterms-rules/
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LossRisk" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DeliveryLocation" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						10.5 - Destino Expedición o Despacho (ShipTO
						party)
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AllowanceCharge" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- -->
	<complexType name="InvoiceLineType">
		<sequence>
			<element ref="cbc:ID" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.1 - Número de Línea: Número de Línea
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:UUID" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Note" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.16 - Información Adicional: Texto libre
						para añadir información adicional al artículo.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:InvoicedQuantity" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.9 - Cantidad: Cantidad del artículo
						solicitado. Número de unidades
						servidas/prestadas.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:LineExtensionAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.12 - Costo Total: Coste Total. Resultado:
						Unidad de Medida x Precio Unidad.
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:TaxPointDate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCostCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AccountingCost" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:FreeOfChargeIndicator" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OrderLineReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.2 - Número de Línea de Pedido: Número de
						la Línea de Pedido al que hace pertenece el
						artículo que corresponde a la línea de factura
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DespatchLineReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ReceiptLineReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:BillingReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.17 - Referencia Documentos: Texto libre
						para añadir información adicional al artículo.
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PricingReference" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OriginatorParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:Delivery" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PaymentTerms" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TaxTotal" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Item" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Estructura necesaria para describir las
						características del artículo o servicio
					</documentation>
				</annotation>
			</element>
			<element ref="tns:Price" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						Estructura necesaria para describir los precios
						de artículo o servicio
					</documentation>
				</annotation>
			</element>
			<element ref="cac:DeliveryTerms" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ItemType">
		<sequence>
			<element ref="cbc:Description" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.3 - Descripción: Descripción del artículo
						que pertenece a la línea de la factura
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PackQuantity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PackSizeNumeric" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:CatalogueIndicator" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Name" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:HazardousRiskIndicator" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:AdditionalInformation" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.7 - Datos Técnicos: Datos técnicos
						asociados al artículo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:Keyword" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:BrandName" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.4 - Marca: Marca del artículo,
						obligatorio si la factura es internacional
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:ModelName" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.5 - Modelo: Modelo del artículo,
						obligatorio si la factura es internacional
					</documentation>
				</annotation>
			</element>
			<element ref="cac:BuyersItemIdentification" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:SellersItemIdentification" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ManufacturersItemIdentification" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.6 - Referencia: Referencia del artículo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:StandardItemIdentification" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.8 - Identificador de artículo: Código
						identificador del artículo, por ejemplo el GTIN
						(Global Trade Item Number). Este campo debería
						referenciar a una lista de códigos. Se admite
						varias ocurrencias, por si se quieren incluir
						varias codificaciones. Ver composición en la
						estructura común Identificador (REF-ID). Valores
						Ejemplo: • GTIN UCC(Uniform Commercial Code)-12
						dígitos • GTIN EAN(European Article
						Number)/UCC-13 dígitos • GTIN EAN/UCC-14 dígitos
						• GTIN EAN/UCC-8 dígitos • Otros
					</documentation>
				</annotation>
			</element>
			<element ref="cac:CatalogueItemIdentification" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AdditionalItemIdentification" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						13.1.1.13 - Estado de la Mercancía: Estado de la
						mercancía, podría ser una referencia a una lista
						de códigos o un texto libre. Obligatorio si el
						estado es distinto a nueva
					</documentation>
				</annotation>
			</element>
			<element ref="cac:CatalogueDocumentReference" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ItemSpecificationDocumentReference" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OriginCountry" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:CommodityClassification" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:TransactionConditions" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:HazardousItem" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ClassifiedTaxCategory" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AdditionalItemProperty" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.14- Periodo Servicio: Información sobre
						el periodo de prestación de un servicio y
						13.1.1.15 - Fecha Transacción: Fecha concreta de
						prestación del servicio o entrega del bien
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ManufacturerParty" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:InformationContentProviderParty" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:OriginAddress" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ItemInstance" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="PriceType">
		<sequence>
			<element ref="cbc:PriceAmount" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.11 - Precio Unitario: Precio unitario de
						la unidad de bien o servicio servido/prestado,
						en la moneda indicada en la Cabecera de la
						Factura. Siempre sin Impuestos
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:BaseQuantity" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						13.1.1.10 - Unidad de Medida: Unidad en la que
						está referida la Cantidad. Debe referenciar a
						una lista de códigos. Recomendaciones 20 y 21 de
						UN/CEFACT
						(http://www.unece.org/cefact/recommendations/rec_index.html)
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PriceChangeReason" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PriceTypeCode" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:PriceType" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cbc:OrderableUnitFactorRate" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:ValidityPeriod" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>
						13.1.1.14 - Periodo Servicio: Información sobre
						el periodo de prestación de un servicio
					</documentation>
				</annotation>
			</element>
			<element ref="cac:PriceList" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
			<element ref="cac:AllowanceCharge" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation xml:lang="es">
						Opcional no usado por la DIAN, las partes pueden
						definir un significado o simplemente omitirlo
					</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<!-- The root element -->
	<element name="Invoice" type="tns:InvoiceType"/>
	<element name="CreditNote" type="tns:CreditNoteType"/>
	<element name="DebitNote" type="tns:DebitNoteType"/>
	<element name="AccountingSupplierParty" type="tns:SupplierPartyType"/>
	<element name="AccountingCustomerParty" type="tns:CustomerPartyType"/>
	<element name="Party" type="tns:PartyType"/>
	<element name="DeliveryParty" type="tns:PartyType"/>
	<element name="DespatchParty" type="tns:PartyType"/>
	<element name="PhysicalLocation" type="tns:LocationType"/>
	<element name="DeliveryLocation" type="tns:LocationType"/>
	<element name="Address" type="tns:AddressType"/>
	<element name="DeliveryAddress" type="tns:AddressType"/>
	<element name="DespatchAddress" type="tns:AddressType"/>
	<element name="PartyTaxScheme" type="tns:PartyTaxSchemeType"/>
	<element name="PartyLegalEntity" type="tns:PartyLegalEntityType"/>
	<element name="Person" type="tns:PersonType"/>
	<element name="AllowanceCharge" type="tns:AllowanceChargeType"/>
	<element name="PrepaidPayment" type="tns:PaymentType"/>
	<element name="TaxTotal" type="tns:TaxTotalType"/>
	<element name="LegalMonetaryTotal" type="tns:MonetaryTotalType"/>
	<element name="TaxSubtotal" type="tns:TaxSubtotalType"/>
	<element name="Delivery" type="tns:DeliveryType"/>
	<element name="Despatch" type="tns:DespatchType"/>
	<element name="DeliveryTerms" type="tns:DeliveryTermsType"/>
	<element name="InvoiceLine" type="tns:InvoiceLineType"/>
	<element name="Item" type="tns:ItemType"/>
	<element name="Price" type="tns:PriceType"/>
</schema>
