static/xsd/DIAN_UBL_Structures.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.dian.gov.co/contratos/facturaelectronica/v1/Structures" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:Q1="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:Q2="http://www.dian.gov.co/contratos/facturaelectronica/v1/Structures" targetNamespace="http://www.dian.gov.co/contratos/facturaelectronica/v1/Structures" elementFormDefault="qualified"><import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="xmldsig-core-schema.xsd"/><import namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" schemaLocation="http://www.dian.gov.co/micrositios/fac_electronica/documentos/common/UnqualifiedDataTypeSchemaModule-2.0.xsd"/><import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="http://www.dian.gov.co/micrositios/fac_electronica/documentos/common/UBL-CommonAggregateComponents-2.0.xsd"/><complexType name="InvoiceControl"><annotation><documentation xml:lang="es">1.3 - Datos Resolución de
				Numeración de Facturas
			</documentation></annotation><sequence><element name="InvoiceAuthorization" type="udt:NumericType" minOccurs="1" maxOccurs="1"><annotation><documentation xml:lang="es">
						1.3.1.2 - Número autorización: Número o código
						de la resolución otorgada para la numeración
					</documentation></annotation></element><element name="AuthorizationPeriod" type="cac:PeriodType" minOccurs="1" maxOccurs="1"><annotation><documentation xml:lang="es">
						1.3.1.3 - Fecha Autorización: Fecha Autorización
						de la numeración
					</documentation></annotation></element><element name="AuthorizedInvoices" type="Q2:AuthrorizedInvoices" minOccurs="1" maxOccurs="1"/></sequence></complexType><complexType name="AuthrorizedInvoices"><sequence><element name="Prefix" type="udt:TextType" minOccurs="0" maxOccurs="1"><annotation><documentation xml:lang="es">
						Prefijo (no incluido en
						documento de
						recomendaciones))
					</documentation></annotation></element><element name="From" type="long" minOccurs="1" maxOccurs="1"><annotation><documentation xml:lang="es">
						1.3.1.1 - Rango de Numeración (mínimo): Rango de
						numeración otorgado, valor mínimo y máximo
					</documentation><documentation>20170810: cambio de tipo de dato de "int" a "long"</documentation></annotation></element><element name="To" type="int" minOccurs="1" maxOccurs="1"><annotation><documentation xml:lang="es">
						1.3.1.1 - Rango de Numeración (máximo): Rango de
						numeración otorgado, valor mínimo y máximo
					</documentation><documentation>
						20170810: cambio de tipo de dato de "int" a "long"
					</documentation></annotation></element></sequence></complexType><complexType name="SoftwareProvider"><sequence><element name="ProviderID" type="udt:IdentifierType" minOccurs="1" maxOccurs="1"><annotation><documentation>
						2.3 - Prestador de servicios: Datos del
						Prestador de Servicios y el software utilizado
						en la emisión de la factura. Un Obligado a
						facturar puede ser también Prestador de
						Servicios para sí mismo u otros, en cuyo caso
						será Proveedor Tecnológico
					</documentation></annotation></element><element name="SoftwareID" type="udt:IdentifierType" minOccurs="1" maxOccurs="1"><annotation><documentation>
						2.33 - Identificador Software: Identificador de
						la
						habilitación como software habilitado para la
						emisión de facturas
					</documentation></annotation></element></sequence></complexType><complexType name="AdditionalMonetaryTotal"><sequence><element name="RepercussionsTotalTaxAmount" type="udt:AmountType" minOccurs="0" maxOccurs="1"><annotation><documentation xml:lang="es">9.6 - Total impuestos repercutidos:
						Suma de todos los impuestos repercutidos
					</documentation></annotation></element><element name="RetainTotalTaxAmount" type="udt:AmountType" minOccurs="0" maxOccurs="1"><annotation><documentation xml:lang="es">9.7 - Total impuestos retenidos:
						Suma de todos los impuestos retenidos
					</documentation></annotation></element><element name="InvoiceTotalLocalCurrencyAmount" type="udt:AmountType" minOccurs="0" maxOccurs="1"><annotation><documentation xml:lang="es">9.12 - Total de Factura Peso Colombiano:
						Obligatorio si es una factura con divisa extranjera
					</documentation></annotation></element></sequence></complexType><complexType name="FinancialInformation"><annotation><documentation>
				2.1.12 - 2.1.12 Información Financiera
			</documentation></annotation><sequence><element name="Assignee" type="cac:PartyType" minOccurs="1" maxOccurs="1"><annotation><documentation>12.3 - Cesionario: Información relativa al pago de la factura.</documentation></annotation></element><element name="PaymentDetails" type="cac:FinancialAccountType" minOccurs="1" maxOccurs="1"><annotation><documentation>12.4 - Datos del Pago: Datos del Pago</documentation></annotation></element><element name="Clause" type="udt:TextType" minOccurs="1" maxOccurs="1"><annotation><documentation>12.5 - Cláusula Cesión: Texto libre, explicativo sobre la cláusula de cesión</documentation></annotation></element><element name="DocumentReference" type="cac:DocumentReferenceType" minOccurs="0" maxOccurs="unbounded"><annotation><documentation>12.6 - Referencia Documentación Factoring: Referencia a un documento </documentation></annotation></element></sequence></complexType><element name="DianExtensions" type="Q2:DianExtensionsType"/><complexType name="DianExtensionsType"><sequence><element name="InvoiceControl" type="Q2:InvoiceControl" minOccurs="0" maxOccurs="1"/><element name="InvoiceSource" type="cac:CountryType" minOccurs="1" maxOccurs="1"/><element name="SoftwareProvider" type="Q2:SoftwareProvider" minOccurs="1" maxOccurs="1"/><element name="SoftwareSecurityCode" type="udt:IdentifierType" minOccurs="1" maxOccurs="1"/><element name="AdditionalMonetaryTotal" type="Q2:AdditionalMonetaryTotal" minOccurs="0" maxOccurs="1"/><element name="FinancialInformation" type="Q2:FinancialInformation" minOccurs="0" maxOccurs="1"/></sequence></complexType></schema>